html , body {
    margin: 0;
    padding: 0;
    background:#101010;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#canvas {
    height: calc(100vh - 200px);
    width: 100%;
    margin-top: 100px;
    background: #151327;
    /* background: linear-gradient( 174.6deg,  #fcc8bf 11.8%, #fe9fa0 89.9% ); */
    /* background: #fafafa; */
}

#canvas:focus {
    outline: none;
}